<configuration>
    <property name="LOG_DIR" value="/data/data/com.example/files/log/" />


    <!-- 370ms -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- 1700 ms-->
    <!-- Create a file appender for DEBUG-level messages -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>

        <file>${LOG_DIR}/debug.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 1000 ms -->
    <appender name='async' class='ch.qos.logback.classic.AsyncAppender'>
        <appender-ref ref='file' />
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
        <appender-ref ref="async" />
    </root>
</configuration>